name: "todoui workflow"
on:
  push:
    branches:
      - main
    paths-ignore:
      - 'manifest/**'
      - '.github/workflows/**'
permissions:
  contents: read
  id-token: write
jobs:
  build-job:
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: todo-ui-r
      IMAGE_VERSION: v1
      ACR_NAME: testacr3211
      ACR_LOGIN_SERVER: testacr3211.azurecr.io
      
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0
    
      - name: Azure Login
        uses: Azure/login@v2.3.0
        with:
         client-id: 454c72cf-c0f6-4974-ba31-6629a9cc8b82
         tenant-id: 8ab5781a-7bf2-4b23-8a88-9ac543f6f20f
         subscription-id: 8ab5781a-7bf2-4b23-8a88-9ac543f6f20f

      - name: acr login
        run: |
          az acr login --name $ACR_NAME

      - name: build image
        run: |
          docker build -t $ACR_LOGIN_SERVER/$IMAGE_NAME:IMAGE_VERSION .

      - name: build image
        run: |
          docker push $ACR_LOGIN_SERVER/$IMAGE_NAME:IMAGE_VERSION
  
